# Semana 03

TEMAS:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Opeadores

In [8]:
nombre = "Shantal de la cruz"

In [9]:
nombre

'Shantal de la cruz'

In [10]:
Nacionalidad = "peruano"

In [11]:
Nacionalidad

'peruano'

In [13]:
datos_completos = nombre + " es " + Nacionalidad

In [14]:
datos_completos

'Shantal de la cruzesperuano'

In [15]:
datos_completos

'Shantal de la cruzesperuano'

In [16]:
datos_completos = nombre + " es " + Nacionalidad

In [17]:
datos_completos

'Shantal de la cruz es peruano'

In [18]:
#Para saber el tipo de datos de una variable urilizamos type

In [19]:
type(nombre)

str

In [20]:
edad = 45

In [21]:
edad

45

In [22]:
type(edad)

int

In [23]:
talla = 1.67

In [24]:
type(talla)

float

In [25]:
#Para convertir un numero a cadena usamos str()

In [26]:
numero = 100
cadena = str(numero)
numero

100

In [27]:
type (cadena)

str

In [28]:
#para convertir una cadena a numerico 
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [29]:
type(numero2)

int

In [30]:
#Para convertir una cadena a float 
numero3 = float(cadena2)
numero3

50.0

In [31]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [32]:
#Universidad Nacional Tecnologica de Lima Sur
#0123456789.................................

In [33]:
cadena[5]

'r'

In [34]:
cadena[12]

'N'

In [35]:
cadena[-5]

'a'

In [36]:
#subacadena como un rango
cadena[3:10]

'versida'

In [37]:
len(cadena)

44

In [39]:
#Mayuscula 
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [40]:
#minúscula
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [42]:
#separar por espacios/sílabas
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [43]:
#generar una lista apartir de una cadena utilizando como criterio de separación la letr "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [46]:
#concatenar
nombresito ="Shantal De la cruz"
print("Buenas tardes "+ nombresito)

Buenas tardes Shantal De la cruz

In [48]:
#Utilizando el .format(), evitamos completar uno por uno, se autocompleta solo
nombre= "Daniel Falcon"
edad=25
print("Hola {} ya sé que tienes {} años".format(nombre,edad))

Hola Daniel Falcon ya sé que tienes 25 años

In [50]:
#Dar formato a números con muchos decimales 
resultado = 10/3
print("10/3 es igual a {}".format(resultado))
print("10/3 es igual a {r:1.3f}".format(r=resultado)) #r:1.3f es la cantidad de decimales que deseo

10/3 es igual a 3.3333333333333335
10/3 es igual a 3.333

In [52]:
#Función input()
print("¿Cuál es tu nombre?")
nombre = input()
print("Hola "+ nombre)

¿Cuál es tu nombre?
Shantal
Hola Shantal

In [53]:
print("Número 01: ")
numero01= input()
print("Número 02: ")
numero02= input()
numero03 = int(numero01) + int (numero02)
print(f"El resultado es {numero03}")

Número 01:
20
Número 02:
562
El resultado es 582

5. Opeadores

In [ ]:
#Operadored de asignación +, -